<script>
    var url = top.location.hostname
    //获取当前时间
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                + " " + date.getHours() + seperator2 + date.getMinutes()
                + seperator2 + date.getSeconds();
        return currentdate;
    }
    
    function getWeather() {
        var weather = $.ajax({
            url: "http://"+url+":8080/magicService?serviceType=weather",
            type: 'get',
            dataType: 'json'
        }).done(function (data, status) {
            $("#weather").html(data.city);
        }).fail(function (jqXhr, status, err) {
            $("#weather").html("error");

        });
    }
    function updateTime() {
    $("#time").html(getNowFormatDate());
    }
    $(function () {
        window.setInterval(updateTime,100);
        getWeather();
    })
</script>


<style type="text/css">
    #timeDiv{
        clear:both;
        position:absolute;
        bottom:0px;
        width:100%;
        text-align: center;
    }
</style>


<div>
    <h1>烟花三月下扬州，甲乙丙丁午己庚辛</h1>
    <div class="wea" id="weather">
    </div>
</div>
<div id="timeDiv">
    <hr/>
    <p id="time">2017年2月26日 14:15:15</p>
</div>