<style type="text/css">

    body{
        background: black;
        color: white;
        overflow-x: hidden;
    }
</style>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
#showHead ("MagicMirror")
</head>

<body #bodyAttributes ()>

$screen_placeholder

</body>
</html>
